<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=.\MSSQLSERVER2014;user id=sa;password=Checkit{}2;database=PROJECT.FC2J;connection timeout=0;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>