<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Project.FC2J.UI.Properties.Settings.Report_ConnectionString"
      connectionString="Data Source=.\MSSQLSERVER2014;Initial Catalog=PROJECT.FC2J;User ID=sa;Password=Checkit{}2"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--must have UI equivalent access for all configurations-->
    <add key="api" value="http://localhost:49712/" />
    <add key="user" value="/api/auth" />
    <add key="authHash" value="/api/auth/hash" />
    <add key="getuser" value="/api/auth/getuser" />
    <add key="authLogin" value="/api/auth/login" />
    <add key="authRegister" value="/api/auth/register" />
    <add key="customer" value="/api/customers" />
    <add key="customerShipTo" value="/api/customers/shipto" />
    <add key="customerPayment" value="/api/customers/payment" />
    <add key="customerProduct" value="/api/customers/product" />
    <add key="customerPricelist" value="/api/customers/pricelist" />
    <add key="product" value="/api/products" />
    <add key="sale" value="/api/sales" />
    <add key="purchase" value="/api/purchases" />
    <add key="saleSONo" value="/api/sales/SONo" />
    <add key="invoiceNo" value="/api/sales/InvoiceNo" />
    <add key="role" value="/api/roles" />
    <add key="startup" value="Sales" />
    <add key="taxRate" value="0.12" />
    <add key="poTaxRate" value="0.107142857142857" />
    <add key="sleepInSeconds" value="1" />
    <add key="defaultPassword" value="system!234" />
    <add key="pricelist" value="/api/pricelists" />
    <add key="pricelistCustomer" value="/api/pricelists/customer" />
    <add key="targetCustomer" value="/api/pricelists/targetcustomer" />
    <add key="deduction" value="/api/deductions" />
    <add key="report" value="/api/reports" />
    <add key="pricePerKilo" value="10.0" />
    <add key="branch" value="FC2J" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportTIN" value="000-275-554-026" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>